* {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: hsl(240, 78%, 98%);
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: top right, left bottom;
}
.container {
  padding-top: 3rem;
  
}

.header {
  text-align: center;
}

.header-plan{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-price {
  color: hsl(233, 13%, 49%);
  margin-bottom: 2rem;
  font-size: 2.1rem;
}

.header-plan{
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  color: hsl(233, 13%, 49%);
  font-size: 1rem;
}
.switch {
  position: relative;
  display: inline-block;
  height: 2.3rem;
  width: 4rem;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.slider:hover {
  background-image: none;
  background-color: hsl(236, 66%, 84%);
  transition: 0.5s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  right: 0.3rem;
  bottom: 0.3rem;
  background-color: white;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 0.15rem hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  transform: translateX(-1.7rem);
}

.slider.round {
  border-radius: 2.3rem;
}

.slider.round:before {
  border-radius: 2.3rem;
}
.plan-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}
.basic{
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 1rem 0 0 1rem;
  padding-top: 1.0rem;
  padding-bottom: 2rem;
  width: 23rem;
  box-shadow: 0px 0px 10px 1px rgb(195, 189, 189);
}
.master{
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 1rem 0 0 1rem;
  padding-top: 1.3rem;
  padding-bottom: 2rem;
  width: 23rem;
  box-shadow: 0px 0px 10px 1px rgb(195, 189, 189);
}

.professional{
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 1rem 0 0 1rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  width: 21rem;
  box-shadow: 0px 0px 10px 1px rgb(195, 189, 189);
  color: white;
}
.master {
  border-radius: 0 1rem 1rem 0;
}
.professional {
  transform: scale(1.1);
  border-radius: 1rem;
  background: linear-gradient(rgb(166, 158, 227), #595eda);
}

.size {
  font-size: 15px;
  color: hsl(233, 13%, 49%);
  padding: 1.5rem 0.7rem;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.size3{
  font-size: 14px;
  color: white;
  padding-top: 14%;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.plan-price {
  font-size: 3.5rem;
  padding: 1.5rem 1.3rem 1.3rem 0;
}
#professional-plan-price{
  color: white;
}
.size1{
  font-size: 14px;
  color:white;
  padding: 1.5rem 0.7rem;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(232, 13%, 33%);
  margin-bottom: 1rem;
}

#dollar-sign {
  margin-top: 7px;
  font-size: 2.6rem;
  padding: 0.3rem;
  font-weight: 800;
}
#dollar-sign1{
  margin-top: 7px;
  font-size: 2.6rem;
  padding: 0.3rem;
  font-weight: 800;
  color: white;
}
hr {
  width: 80%;
  margin: auto;
  border-top: 0.1px solid hsl(0, 0%, 98%);

}

.btn {
  margin-top: 3.3rem;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
  width: 18rem;
  height:10%;
  border: 0.15rem solid white;
  border-radius: 0.5rem;
  font-size: 13px;
  margin-bottom: 35px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
}
.btn1{
  margin-top: 3.8rem;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
  width: 18rem;
  height:9%;
  border: 0.15rem solid white;
  border-radius: 0.5rem;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-image: none;
  background-color: white;
  color: hsl(240, 33%, 1%);
  border: 0.15rem solid hsl(237, 63%, 64%);
  transition: 0.5s ease;
}

.professional button {
  background-image: none;
  background-color: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
  border: 0.15rem solid hsl(237, 63%, 64%);
}

.professional button:hover {
  background-color: hsl(237, 63%, 64%);
  color: white;
  border: 0.15rem solid hsl(240, 78%, 98%);
  transition: 0.5s ease;
}

.professional hr {
  border: none;
  border-top: 0.1rem solid #ccc;
}
